.passenger {
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
  padding: 1em;
  margin-bottom: 1em;
}

.passenger__data {
  color: #000;
  font-size: 0.875em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  mat-icon {
    margin-right: 1em;
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: #ab4493;
  }
  span {
    color: #333;
  }
}

.btn__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  button {
    background-color: #ab4493;
    color: #fff;
    font-size: 0.875rem;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    padding: 0.5em 1em;
    &:first-child {
      &:hover {
        background-color: #ce569a;
      }
      &:active {
        background-color: #f069b5;
      }
    }

    &:last-child {
      &:hover {
        background-color: #6d6875;
      }
      &:active {
        background-color: #ec4773;
      }
    }
  }
}
