<div class="form">
  <h1 class="form__title">Registro de Pasajeros</h1>
  <form
    class="form__container"
    [formGroup]="passengerForm"
    (ngSubmit)="onCreatePassenger()"
  >
    <div class="form__control">
      <label for="names"> Nombres: </label>
      <input
        id="names"
        type="text"
        name="names"
        formControlName="names"
        autocomplete="off"
        autofocus
      />
      <app-form-error-container [forControl]="namesControl">
        <app-form-error-message forErrorCode="required"></app-form-error-message>
        <app-form-error-message
          forErrorCode="namesMustbeValid"
        ></app-form-error-message>
      </app-form-error-container>
    </div>

    <div class="form__control">
      <label for="surnames"> Apellidos: </label>
      <input
        id="surnames"
        type="text"
        name="surnames"
        formControlName="surnames"
        autocomplete="off"
      />
      <app-form-error-container [forControl]="surnamesControl">
        <app-form-error-message forErrorCode="required"></app-form-error-message>
        <app-form-error-message
          forErrorCode="surnamesMustbeValid"
        ></app-form-error-message>
      </app-form-error-container>
    </div>

    <div class="form__control">
      <label for="nationality"> Nacionalidad: </label>
      <input
        id="nationality"
        type="text"
        name="nationality"
        formControlName="nationality"
        autocomplete="off"
      />
      <app-form-error-container [forControl]="nationalityControl">
        <app-form-error-message forErrorCode="required"></app-form-error-message>
        <app-form-error-message
          forErrorCode="nationalityMustbeValid"
        ></app-form-error-message>
      </app-form-error-container>
    </div>

    <div class="form__control">
      <label for="documentType"> Tipo de Documento: </label>
      <select
        id="documentType"
        name="documentType"
        formControlName="documentType"
        autocomplete="off"
      >
        <option *ngFor="let type of documentType" [value]="type">
          {{ type }}
        </option>
      </select>
      <app-form-error-container [forControl]="documentTypeControl">
        <app-form-error-message forErrorCode="required"></app-form-error-message>
      </app-form-error-container>
    </div>

    <div class="form__control">
      <label for="documentNumber"> Número de documento: </label>
      <input
        id="documentNumber"
        type="text"
        name="documentNumber"
        formControlName="documentNumber"
        autocomplete="off"
      />
      <app-form-error-container [forControl]="documentNumberControl">
        <app-form-error-message forErrorCode="required"></app-form-error-message>
        <app-form-error-message forErrorCode="dniMustBeValid"></app-form-error-message>
        <app-form-error-message forErrorCode="ceMustBeValid"></app-form-error-message>
        <app-form-error-message
          forErrorCode="passportMustBevalid"
        ></app-form-error-message>
      </app-form-error-container>
    </div>

    <div class="btn__container">
      <button type="submit" [disabled]="passengerForm.invalid">
        Agregar Pasajero
      </button>
      <button type="button" (click)="onCancel()">Cancelar</button>
    </div>
  </form>
</div>
