<app-register-form></app-register-form>

<div class="register__alert">
  <p>{{ passengersNumber | numberMessage }}</p>
</div>

<div class="register__progress">
  <progress max="4" [value]="passengersNumber"></progress>
</div>

<div *ngIf="passengersNumber" class="verify__btn">
  <a routerLink="/summary">Verificar Datos</a>
</div>